.post-container{
    display:flex;
    flex-direction: column;
    margin:auto;
}

.post{
    box-shadow: 0 1px 3px black;
    margin: 32px;
    padding: 16px;
    
}

.post__content{
    margin-top: 16px;
}
.post -link{
    text-decoration:none;
    color:black;
}
