{% extends "base.html" %}


{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"/>
    <title>Login</title>

    <div class="login-container" align="center">

        <form method="post" class="login"> {% csrf_token %}
            
            <h2>Login</h2>
            
            <div>
                <label for="id_username"></label>
                <input type="text" name="email" placeholder="Email address" autofocus required
                       id="id_username">
            </div>

            <div>
                <label for="id_password1"></label>
                <input type="password" name="password1" placeholder="Password" autofocus required
                       id="id_password1">
            </div>

            <button type="submit">Login</button>
        </form>
    </div>
    
{% endblock %}
